<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <div class="footer">
        <div class="ft_container">
            <div class="ft_content dp-flex">
                <div class="ft_content_contact dp-flex">
                    <div class="ft_content_contact_heading">
                        <p class="fw-400 --dark-green">Contact <strong>Corporate</strong></p>
                    </div>
                    <div class="ft_content_contact_icon dp-flex">
                        <img src="/assets/img/ft_content_contact_icon-social.png" alt=""
                            class="ft_content_contact_icon-social">
                        <img src="/assets/img/ft_content_contact_icon-social (2).png" alt=""
                            class="ft_content_contact_icon-social">
                        <img src="/assets/img/ft_content_contact_icon-social (3).png" alt=""
                            class="ft_content_contact_icon-social">
                        <img src="/assets/img/ft_content_contact_icon-social (4).png" alt=""
                            class="ft_content_contact_icon-social">
                    </div>
                </div>
                <div class="ft_content_contact-category dp-flex">
                    <div class="ft_content_contact-category_layer-1">
                        <div class="ft_content_contact-category_layer-1_title-holder bor-5 pr-15 --dark-green">
                            <p class="fw-400 lh-24 fs-16 --dark-green pl-10">Complaints & Customer Service</p>
                        </div>
                        <p class="fw-400 fs-14 lh-18 --dark-green"><span class="fw-700 fs-14 lh-18 --dark-green ">Toll
                                Free: </span>877-699-0353
                        </p>
                        <p class="fw-700 fs-12 lh-22  --solid-green">Contact Customer Service</p>
                        <div class="ft_content_contact-category_layer-1_title-holder bor-5 pr-15 mt-26 --dark-green">
                            <p class="fw-400 lh-24 fs-16 --dark-green pl-10">Report Fraud or Suspicious Activity</p>
                        </div>
                        <p class="fw-400 fs-14 lh-18 --dark-green"><span
                                class="fw-700 fs-14 lh-18  --solid-green ">Hotline</span>: 855-920-0002
                        </p>
                        <p class="fw-700 fs-12 lh-12 mt-3 --solid-green">Report An Incident Online, click here</p>
                        <div class="ft_content_contact-category_layer-1_title-holder bor-5 pr-15 mt-24 --dark-green">
                            <p class="fw-400 lh-24 fs-16 --dark-green pl-10">Servicing & Loan Information</p>
                        </div>
                        <p class="fw-400 fs-14 lh-18 --dark-green"><span
                                class="fw-700 fs-14 lh-18 mt-5 --dark-green ">Toll Free:</span> 800-201-7544</p>
                        <p class="fw-700 fs-12 lh-22 --solid-green">Contact Servicing
                        </p>
                        <p class="fw-700 fs-12 lh-22 --solid-green">Servicing Rights: New York</p>
                        <div class="ft_content_contact-category_layer-1_title-holder bor-5 pr-15 mt-24 --dark-green">
                            <p class="fw-400 lh-24 fs-16 --dark-green pl-10">Madison Headquarters Location</p>
                        </div>
                        <p class="lh-18 fs-14  mt-5 --dark-green">4750 S. Biltmore Lane, Madison, WI 53718</p>
                        <p class="fw-400 fs-14 lh-18 --dark-green "><span class="fw-700 lh-18 fs-14 --dark-green">Toll
                                Free:</span> 866-912-4800
                        </p>
                        <div class="ft_content_contact-category_layer-1_title-holder bor-5 pr-15 mt-24 --dark-green">
                            <p class="lh-24 fs-16 --dark-green pl-10">Hours of Operation (Corporate)</p>
                        </div>
                        <p class="fw-400 fs-14 lh-18 mt-5 --dark-green">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                    </div>
                    <div class="ft_content_contact-category_layer-2">
                        <div class="ft_content_contact-category_layer-2_title-holder bor-5 pr-15">
                            <p class="fw-400 fs-16 lh-24 --dark-green pl-10">Legal Information & Links</p>
                        </div>
                        <div class="pos-r">
                            <p class="fw-700 fs-12 lh-22 --solid-green pos-a mt-8">Privacy Policy </br>
                                Legal Disclosures</br>
                                Licensing</br>
                                Texas Consumer Complaints</br>
                                IL Community Reinvestment Notice</br>
                                NMLS Consumer Access</br>
                                Terms Of Use</p>
                        </div>
                        <div class="ft_content_contact-category_layer-2_title-holder bor-5 pr-15 mt-24">
                            <p class="fw-400 fs-16 lh-24 --dark-green pl-10">Additional Links</p>
                        </div>
                        <div class="pos-r">
                            <p class="fw-700 fs-12 lh-22 --solid-green pos-a mt-8">FairwayNOW Mobile App</br>
                                About Fairway</br>
                                Careers</br>
                                Loan Products & Options</br>
                                Press Releases</p>
                        </div>
                    </div>
                </div>
                <div class="ft_content_contact-hub">
                    <div class="ft_content-contact-hub_main pos-r">
                        <div class="ft_content_contact-hub_sub dp-flex pos-a">
                            <div class="ft_content_contact-hub_sub-heading pos-r">
                                <p class="fw-400 lh-24 --dark-green">Homeownership <strong class="lh-24">HUB</strong>
                                </p>
                            </div>
                            <div class="ft_content_contact-hub_sub-content">
                                <div class="ft_content_contact-hub_sub-content-heading">
                                    <div>
                                        <p class="fs-18 pl-10 --dark-green fw-700">Housing Inventory Makes Huge One
                                            Week Jump As Demand Cools</p>
                                    </div>
                                </div>
                                <div class="ft_content_contact-hub_sub-content-desc mt-16 --dark-green">
                                    <p class="fs-12 lh-18">The supply of single-family homes jumped 8.2% week-over-
                                        week as higher mortgage rates cool demand. Here's what
                                        that means for homebuyers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft_sub-container">
            <div class="ft_sub-content dp-flex ai-center">
                <img class="ft_sub-content_icon" src="/assets/img/ft_sub-content_icon.png" alt="">
                <img class="ft_sub-content_icon" src="/assets/img/ft_sub-content_icon (2).png" alt="">
                <img class="ft_sub-content_icon" src="/assets/img/ft_sub-content_icon (3).png" alt="">
                <img src="/assets/img/ft_sub-content.png" alt="">
                <img src="/assets/img/ft_sub-content (2).png" alt="">
                <img src="/assets/img/ft_sub-content (3).png" alt="">
                <p class="fw-400 fs-10 lh-14 text-white">Fairway Independent Mortgage Corporation | NMLS Entity ID #2289
                    | <span class="fw-400 fs-10 lh-14">www.nmlsconsumeraccess.org</span></p>
            </div>
        </div>
    </div>
</body>

</html>