<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="header.css">

</head>

<body>
    <div class="header-container dp-flex-jc-ai-center">
        <div class="header-content dp-flex ai-center">
            <img src="/assets/img/header-content-logo-header.png" alt="" class="header-content-logo-header">
            <div class="header-content-menu dp-flex ai-center">
                <p class="header-content-menu-item fs-14 fw-600 lh-20 tt-u cs-pointer">About Us</p>
                <p class="header-content-menu-item fs-14 fw-600 lh-20 tt-u cs-pointer">Locations</p>
                <p class="header-content-menu-item fs-14 fw-600 lh-20 tt-u cs-pointer">Loan Products</p>
                <p class="header-content-menu-item fs-14 fw-600 lh-20 tt-u cs-pointer">Calculators</p>
                <p class="header-content-menu-item fs-14 fw-600 lh-20 tt-u cs-pointer">videos</p>
            </div>
            <div class="header-content-navbar-controls dp-flex ai-center">
                <button class="header-navbar-controls-button fw-600 fs-14 lh-20 cs-pointer mr-mb-8 bdrs-200 bd-none">Get started</button>
                <div class="header-navbar-controls-search fd-col jc-center cs-pointer ai-center mr-mb-8">
                    <div class="header-search-icon-wrapper dp-flex-jc-ai-center">
                        <img src="/assets/img/header-search-icon.png" alt="" class="header-search-icon">
                    </div>
                    <p class="header-search-content fw-500 fs-12 text-black">SEARCH</p>
                </div>
                <div class="header-navbar-controls-menu">
                    <img src="/assets/img/header-menu-icon.png" alt="" class="header-menu-icon">
                    <p class="header-menu-content fw-600 fs-14 lh-20 tt-u">Menu</p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>