/*start code by btung*/
.m-newroom-1.fd-row.jc-center.pos-r {
  width: 1920rem;
  height: 593.41rem;
  background-image: url("../img/m-newroom-1.fd-row.jc-center.pos-r.png");
  overflow: hidden;
  background-size: cover;
}
.m-newroom-1_container.fd-row {
  width: 1181.83rem;
  height: 492.41rem;
}
.m-newroom-1_container_left {
  margin-right: 74rem;
  margin-top: 109rem;
}
.m-newroom-1_container_left_title.fw-800.text-283E39 {
  font-size: 73.6rem;
  line-height: 80rem;
}
.m-newroom-1_container_left_sub-title.fw-600.text-283E39 {
  line-height: 30.4rem;
  margin-top: 3rem;
  font-size: 28.8rem;
}
.m-newroom-1_container_left_content.fs-16.fw-400.text-283E39 {
  line-height: 24rem;
  margin-top: 24.39rem;
}

.m-newroom-1_container_right_img {
  width: 350rem;
  height: 463.4rem;
  object-fit: cover;
}
.m-newroom-1_container_tri-left.pos-a {
  width: 192rem;
  height: 452.03265380859375rem;
  left: 0;
  top: 169.65rem;
}
.m-newroom-1_container_tri-right.pos-a {
  width: 268.79998779296875rem;
  height: 632.845703125rem;
  left: 1651rem;
}
.m-newroom-1_container_line-left.pos-a {
  width: 162.23394775390625rem;
  height: 131.9216766357422rem;
  top: 459.03rem;
  left: 17.58rem;
}
.m-newroom-1_container_line-right.pos-a {
  width: 227.12753295898438rem;
  height: 184.6903533935547rem;
  top: 31.03rem;
  right: 24.61rem;
}
.m-newroom-1_container_right_title.fs-11_2.mt-15.text-283E39.lh-24.fw-400 {
  width: 395rem;
}
.m-newroom-1_container_right_title_hightlight-green.fs-11_2.mt-15.lh-24.fw-400.td-u {
  color: #0f6b4b;
}

/*end code by btung*/
.m-newsroom-4 {
  width: 1920rem;
}
.newsroom-4_recent-video-content {
  background-image: url("../img/newsroom-4_recent-video-content\ d-flex.png");
  width: 100%;
  height: 417.44rem;
  gap: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 39rem;
}
.newsroom-4_feature-banner {
  width: 1220rem;
  height: 220rem;
  background-color: rgba(17, 87, 64, 1);
  border-radius: 12rem;
  overflow: hidden;
  margin-top: 70rem;
}
.newsroom-4_subtitle-intro-wrapper {
  margin-top: 62rem;
  width: 1220rem;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0px;
}
.newsroom-4_press-release-wrapper {
  gap: 24rem 10rem;
  width: 100%;
  max-width: 1220rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32.8rem;
}
.newsroom-4_press-release-button {
  width: 227.66rem;
  height: 48rem;
  background-color: rgba(17, 87, 64, 1);
  border-radius: 200rem;
  border: none;
  color: white;
  font-size: 13rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 50rem;
  margin-bottom: 76rem;
}
.newsroom-4_recent-video-content-left {
  width: 575rem;
  height: 249rem;
}
.newsroom-4-video-wrapper iframe {
  width: 575rem;
  height: 323.44rem;
  border-radius: 12rem;
  overflow: hidden;
}
.newsroom-4_women {
  width: 366rem;
}
.newsroom-4_feature-banner-content {
  padding: 70rem 50rem 70rem 50rem;
  height: 79rem;
}
.newsroom-4_subtitle {
  font-size: 12rem;
  line-height: 16rem;
  letter-spacing: 3rem;
  text-transform: uppercase;
  color: rgba(40, 62, 57, 1);
  vertical-align: middle;
}
.newsroom-4_horizontal-line {
  height: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: -6rem;
}
.newsroom-4_recent-video-content-left-title {
  border-left: 5rem solid rgba(132, 189, 0, 1);
  height: 61rem;
  font-size: 30rem;
  line-height: 30.4rem;
  vertical-align: middle;
  padding-left: 15rem;
}
.newsroom-4_recent-video-content-left-text {
  margin-top: 24rem;
  height: 96rem;
  font-weight: 500;
  line-height: 24rem;
  vertical-align: middle;
}
.newsroom-4_recent-video-content-button {
  margin-top: 28rem;
  background-color: #0f6b4b;
  line-height: 20rem;
  font-size: 14rem;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  width: 192.81rem;
  height: 48rem;
  border-radius: 200rem;
}
.newsroom-4_feature-banner-text-large {
  font-weight: 800;
  line-height: 30.4rem;
  font-size: 38rem;
  margin-bottom: 4rem;
}
.newsroom-4_feature-banner-text-small {
  margin-top: 2rem;
}
.newsroom-4_press-releases-body {
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr;
  align-items: center;
  padding: 6rem;
  font-size: 12rem;
  line-height: 16rem;
  text-decoration: underline;
  border-color: rgba(243, 255, 241, 1);
  background-color: #fff;
  border-radius: 6rem;
}
.newsroom-4_press-releases-text{
  padding-left: 16rem;
color: rgba(63, 68, 68, 1);
cursor: pointer;
}
.newsroom-4_press-releases-detail {
  letter-spacing: 1rem;
  text-transform: uppercase;
  border-radius: 5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 9rem;
  font-size: 10rem;
  line-height: 9rem;
  display: flex;
  position: absolute;
  bottom: -20rem;
  right: -1rem;
  background-color: rgba(250, 248, 244, 1);
  border: 1rem solid rgba(243, 255, 241, 1);
  color: rgba(17, 87, 64, 1);
}
.newsroom-4_typography__link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1rem;
  cursor: pointer;
}
.newsroom-4_press-releases-image {
  background-size: cover;
  height: 80rem;
  width: 100rem;
}
#newroom-4-1 {
  background-image: url("../img/releases-image1.png");
}
#newroom-4-2 {
  background-image: url("../img/releases-image2.png");
}
#newroom-4-3 {
  background-image: url("../img/releases-image3.png");
}
.d-grid {
  display: grid;
}
.newsroom-4_press-releases-block {
  border: 0rem;
}
@media (max-width: 768px) {
  .newsroom-4_recent-video-content {
    flex-direction: column-reverse;
    height: auto;
    padding: 40rem;
    gap: 50rem;
  }
  .newsroom-4_press-release-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .newsroom-4_press-release-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Start code Nguyen Trung Duc */
.m-newroom-3 {
  width: 1920rem;
  height: 1574rem;
  gap: 30rem;
  padding-top: 45.02rem;
  margin: 0 auto;
  background-image: url(../img/m-newroom-3-bg.png);
  overflow: hidden;
  background-size: 800rem 354.125rem;
  background-repeat: no-repeat;
  background-position: bottom;
}

.m-newroom-3_video {
  width: 769rem;
  height: 751rem;
  padding: 8rem 36rem 36rem 36rem;
}

.m-newroom-3_video_header {
  display: flex;
  align-items: center;
}

.m-newroom-3_header_icon {
  width: 30rem;
  height: 24rem;
}

.m-newroom-3_header_content_title {
  font-weight: 700;
  letter-spacing: 3rem;
  color: #283e39;
}

.m-newroom-3_video_header_separator {
  height: 1rem;
  background-color: #e4eee7;
  flex-grow: 1;
}

.m-newroom-3_video_player {
  position: relative;
  height: 392rem;
  background-color: #000;
  border-radius: 8rem;
}

.m-newroom-3_video_player_overplay_new {
  top: -7rem;
  right: -7rem;
  color: #f6b436;
  letter-spacing: 1.2rem;
}

.m-newroom-3_video_info {
  gap: 10rem;
  padding: 25rem 30rem;
}
.m-newroom-3_video_info_title_h2 {
  border-left: 5rem solid #84bd00;
  padding-left: 15rem;
  color: #115740;
  font-size: 28.8rem;
  font-weight: 600;
  line-height: 30.4rem;
}

.m-newroom-3_video_info_description {
  line-height: 22rem;
  color: #3f4444;
}

.m-newroom-3_video_info_watch-more {
  width: 100%;
  height: 48rem;
  background-color: #0f6b4b;
  color: white;
  border: none;
  border-radius: 200rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.m-newroom-3_article {
  width: 385rem;
  height: 1538rem;
  padding: 8rem 0 16rem 0;
}

.m-newroom-3_article_header {
  display: flex;
  align-items: center;
}

.m-newroom-3_article_header_content_icon {
  width: 30rem;
  height: 24rem;
}

.m-newroom-3_article_header_content_title {
  font-weight: 700;
  letter-spacing: 3rem;
  color: #283e39;
}

.m-newroom-3_article_header_separator {
  height: 1rem;
  background-color: #e4eee7;
  flex-grow: 1;
}

.m-newroom-3_article_cards {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.m-newroom-3_article_card {
  height: 498rem;
  background-color: rgba(228, 238, 231, 0.3);
  border-radius: 5rem;
  padding-top: 15rem;
}

.m-newroom-3_article_card_img {
  width: 384.67rem;
  height: 210rem;
  object-fit: cover;
  border-radius: 8rem 8rem 0 0;
}

.m-newroom-3_article_card_content {
  width: 349rem;
  height: 231rem;
  margin: 0 18rem 18rem 18rem;
}

.m-newroom-3_article_card_content_h3 {
  border-left: 5rem solid #84bd00;
  margin: 40rem 18rem 23rem 18rem;
  color: #115740;
  font-size: 22.4rem;
  line-height: 24rem;
  padding-left: 15rem;
}

.m-newroom-3_article_card_content_p {
  line-height: 22rem;
  margin: 0 18rem 8rem 18rem;
  color: #3f4444;
}

.m-newroom-3_article_card_content_publish {
  display: flex;
  justify-content: flex-end;
  border-radius: 5rem;
  background-color: #faf8f4;
  border: 1rem solid #f3fff1;
  width: fit-content;
  justify-self: flex-end;
}

.m-newroom-3_article_card_content_publish_span {
  padding: 9rem 15.68rem 9rem 11rem;
  font-size: 9rem;
  font-weight: 600;
  color: #115740;
  letter-spacing: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .m-newroom-3 {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .m-newroom-3_video_player {
    height: 300rem;
  }

  .m-newroom-3_video_info_title_h2 {
    font-size: 24rem;
  }

  .m-newroom-3_video {
    height: fit-content;
  }
}
/* End code Nguyen Trung Duc */

/* vinh */
.m-newsrooms-2 {
  width: 1920rem;
  height: fit-content;
  padding-left: 320rem;
  margin-top: 149.52rem;
}
.m-newsrooms-2-up {
  gap: 16rem;
  margin-left: 30rem;
}
.m-newsrooms-2-media {
  margin-top: 50rem;
  margin-left: 30rem;
}
.m-newrooms-2-in4-1 {
  margin-left: 12rem;
  margin-top: 48.39rem;
  gap: 25rem;
}
.m-newrooms-2-in4-2 {
  margin-left: 12rem;
  margin-top: 20rem;
  gap: 22rem;
}
.m-newrooms-2-button-mention-bg {
  margin-left: 557.53rem;
  width: 227rem;
  height: 50rem;
  margin-top: 30rem;
  border-radius: 7rem;
  background: rgba(15, 107, 75, 1);
  justify-content: center;
  align-items: center;
}
.m-newrooms-2-button-mention {
  color: #fff;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
#m-newrooms-2-link-span {
  text-decoration: underline;
  text-decoration-thickness: 1rem;
  text-underline-offset: 2rem;
}
.m-newrooms-2-banner {
  width: 1280rem;
  height: 250rem;
  background-image: url(/assets/img/m-newrooms-2-banner.png);
  padding-top: 23rem;
  padding-left: 48rem;
  margin-top: 24.84rem;
  background-size: cover;
}
.newroom-2-media-line {
  width: 1073.5rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.newroom-2-title {
  width: 585.2rem;
  height: 43.19rem;
  border-left: 5rem solid rgba(132, 189, 0, 1);
  font-weight: 700;
  color: rgba(40, 62, 57, 1);
  line-height: 43.2rem;
  padding-left: 15rem;
}
.newroom-2-media-text {
  color: #283e39;
  font-size: 11rem;
  font-weight: 700;
  line-height: 15.4rem;
  letter-spacing: 3rem;
}
.m-newrooms-2-detail-1 {
  width: 398rem;
  height: 332rem;
  position: relative;
}
.m-newrooms-2-detail {
  width: 398rem;
  height: 332rem;
  position: relative;
}
.m-newrooms-2-banner-title {
  gap: 16rem;
}
.m-newrooms-2-link {
  display: flex;
  align-self: flex-end;
  width: 655.94rem;
  height: 15rem;
  margin-top: 20rem;
  font-size: 12.8rem;
  color: white;
}
.m-newrooms-2-banner-contnet {
  width: 790rem;
  height: 45rem;
  line-height: 24rem;
  margin-top: 12.86rem;
  color: white;
}
.m-newrooms-2-award {
  width: 242rem;
  height: 320rem;
  top: -35rem;
  right: 47rem;
}
.m-newrooms-2-layer-1 {
  width: 370rem;
  height: 299rem;
  right: 0rem;
  bottom: 0rem;
  border: 2rem solid rgba(132, 189, 0, 1);
  border-radius: 10rem;
}
.m-newrooms-2-layer-2 {
  width: 370rem;
  height: 299rem;
  right: 8rem;
  bottom: 8rem;
  border: 2rem solid rgba(17, 87, 64, 1);
  border-radius: 8rem;
  background-color: white;
}
.m-newrooms-2-layer-3 {
  width: 143.16rem;
  height: 24rem;
  top: 3rem;
  margin-left: 60rem;
  padding-left: 25rem;
  line-height: 24rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 87, 64, 1);
  border-top-right-radius: 5rem;
}
.fs-48 {
  font-size: 48rem;
}
.m-newroooms-2-layer-4 {
  width: 149rem;
  height: 67.3rem;
  bottom: 5rem;
  right: 5.41rem;
}
.m-newroooms-2-layer-5 {
  width: 75rem;
  height: 75rem;
}
.m-newroom-2-logo-banner {
  margin-top: 5rem;
  width: 122.3rem;
  height: 111.16rem;
}
.m-newroom-2-logo-title {
  width: 446.48rem;
  height: 106rem;
  color: white;
}
.m-newrooms-2-layer-title {
  width: 290rem;
  margin-top: 19rem;
  margin-left: 65rem;
  border-left: 5rem solid rgba(132, 189, 0, 1);
  padding-left: 15rem;
  line-height: 18rem;
  text-transform: uppercase;
  color: rgba(17, 87, 64, 1);
}
.m-newrooms-2-layer-content {
  width: 334.14rem;
  margin-left: 15rem;
  line-height: 18rem;
  color: rgba(0, 79, 91, 1);
  margin-top: 15rem;
}
.m-newrooms-2-layer-day {
  width: 270rem;
  height: 25rem;
  margin-left: 85rem;
  margin-top: 5rem;
  border-top: 1rem solid rgba(0, 0, 0, 0.1);
  line-height: 24rem;
  color: rgba(110, 110, 110, 1);
}
.m-newrooms-2-button {
  width: 150rem;
  height: 24rem;
  border: 1rem solid rgba(223, 223, 223, 1);
  border-radius: 5rem;
  padding-left: 16rem;
  color: rgba(15, 107, 75, 1);
  margin-top: 20rem;
  margin-left: 15rem;
}

.m-newrooms-2-button-mention-arrow {
  width: 12rem;
  height: 12rem;
}
.m-newrooms-2-3que {
  width: 55rem;
  height: 55rem;
  align-self: flex-end;
  position: absolute;
  bottom: 0rem;
}

/* vinh-end */
