/* id4wnatt - menu-credit-resources-2 */
.m-credit-resources-2 {
    width: 1920rem;
    height: 784rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 350rem;
}

.m-credit-resources-2_container {
    width: 1220rem;
    height: 624rem;
}

.m-credit-resources-2 :last-child {
    top: 447rem;
    right: 14rem;
}

.m-credit-resources-2_resources {
    width: 732rem;
    height: 595.73rem;
    align-items: center;
    border: 2rem solid #e7e7e7;
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 75rem;
    background: linear-gradient(270deg, #dddddd 0%, #f3f3f3 100%);
    box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.47);
    padding-top: 32rem;
}

.m-credit-resources-2_links {
    width: 488rem;
    height: 624rem;
    border-top-right-radius: 65rem;
    border-bottom-right-radius: 65rem;
    border-bottom-left-radius: 10rem;
    background: linear-gradient(325.66deg,
            rgba(0, 0, 0, 0.45) 0%,
            rgba(255, 255, 255, 0.17) 100%),
        url("/assets/img/m-credit-resource-2_link-fill.jpg");
    box-shadow: 1rem 1rem 3rem 0rem #000000cf;
    padding: 27rem 0 0 50rem;
    gap: 19.39rem;
}

.resources_video {
    width: 628rem;
    height: 352.73rem;
}

.resources_desc {
    margin-top: 30rem;
}

.resources_desc :first-child {
    margin-right: 51.52rem;
}

.desc {
    width: 294rem;
}

.desc :nth-child(2) {
    margin-top: 11rem;
}

.desc :nth-child(3) {
    margin-top: 6rem;
}

.links-title {
    font-size: 28.8rem;
    line-height: 30.4rem;
}

.helpful-links {
    gap: 3rem;
}

/* Dat end  */
/* Start Thanh Tung */
.m-credit-resource-1 {
    width: 1920rem;
    height: 582rem;
    padding-top: 50rem;
    background-image: url("/assets/img/m-credit-resource-1.png");
    background-size: 100% 100%;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-notice p {
    width: 25.229999542236328rem;
    height: 11rem;
    font-family: Inter;
    font-size: 9.38rem;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-notice {
    width: 33.029998779296875rem;
    height: 23rem;
    top: -14rem;
    left: -5.01rem;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-notice div:last-child {
    width: 6rem;
    height: 3rem;
    margin-left: 13.51rem;
    border-top-width: 3rem;
    border-right-width: 3rem;
    border-left-width: 3rem;
    background: #FFFFFF;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-line div {
    width: 316.8800048828125rem;
    height: 4rem;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.2);
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-notice div:first-child {
    width: 33.029998779296875rem;
    height: 20rem;
    border-radius: 4rem;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_icon-volumn {
    width: 20rem;
    height: 20rem;
    margin-right: 4rem;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-line {
    width: 316.8800048828125rem;
    height: 32rem;
    margin-left: 12rem;
    margin-right: 8rem;
}

.m-credit-resource-1_container_video-frame_action-bar_play-button {
    width: 56rem;
    height: 32rem;
    border-radius: 4rem;
    background: rgba(0, 0, 0, 0.9);
    margin-right: 8rem;
}

.m-credit-resource-1_container_video-frame_action-bar_action-bar-control {
    width: 504.8800048828125rem;
    height: 32rem;
    border-radius: 4rem;
    background: rgba(0, 0, 0, 0.9);
}

.m-credit-resource-1_container_main-content_nav-credit-resource :first-child {
    width: 17rem;
    height: 18rem;
    border-radius: 30rem;
    background: rgba(243, 255, 241, 1);
    margin-right: 6rem;
}

.m-credit-resource-1_container_main-content_nav-credit-resource p:nth-child(2) {
    width: 41rem;
    height: 16rem;
    margin-right: 8rem;
    border-right: 1rem solid rgba(132, 189, 0, 1);
    margin-top: 1rem;
    padding-right: 8rem;
}

.m-credit-resource-1_container_main-content_nav-credit-resource p:nth-child(3) {
    width: 106rem;
    height: 16rem;
    text-decoration-style: solid;
    margin-top: 1rem;
    color: #84BD00;
}

.m-credit-resource-1_container_video-frame_video {
    width: 584.8800048828125rem;
    height: 329rem;
}

.m-credit-resource-1_container_video-frame_action-bar {
    width: 568.8800048828125rem;
    height: 32rem;
    top: 289rem;
    left: 8rem;
}

.m-credit-resource-1_container_video-frame {
    width: 585rem;
    height: 329.20001220703125rem;
    border-radius: 12rem;
    margin-top: 68rem;
}

.m-credit-resource-1_container_main-content_desc {
    width: 581rem;
    height: 144rem;
    margin-top: 40rem;
}

.m-credit-resource-1_container_main-content_title {
    width: 585rem;
    height: 240rem;
    font-size: 74rem;
    line-height: 80rem;
    padding-left: 15rem;
    margin-top: 20rem;
}

.m-credit-resource-1_container_main-content_nav-credit-resource {
    width: 204rem;
    height: 22rem;
    border-radius: 20rem;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    padding-left: 10rem;
    padding-top: 2rem;
    background: #FFFFFF;
}

.m-credit-resource-1_container_main-content {
    width: 585rem;
    height: 466rem;
    margin-right: 50rem;
}

.m-credit-resource-1_container {
    width: 1220rem;
    height: 466rem;
}

/* @media(max-width:768px) {
    .m-credit-resource-1 {
        width: 768rem;
    }

    .m-credit-resource-1_container {
        width: 620rem;
    }
} */

/* @media(max-width:480px) {
    .m-credit-resource-1 {
        width: 480rem;
    }

    .m-credit-resource-1_container_video-frame_action-bar_action-bar-control_time-line div {
        width: 116.8800048828125rem;
    }

    .m-credit-resource-1_container_video-frame_action-bar_action-bar-control {
        width: 304.8800048828125rem;
    }

    .m-credit-resource-1_container_video-frame_video {
        width: 384.8800048828125rem;
    }

    .m-credit-resource-1_container_video-frame_action-bar {
        width: 364.8800048828125rem;
    }

    .m-credit-resource-1_container_video-frame {
        width: 381rem;

    }

    .m-credit-resource-1_container_main-content {
        width: 385rem;
        margin-right: 25rem;
    }

    .m-credit-resource-1_container {
        width: 420rem;
    }

    .m-credit-resource-1_container_main-content_title {
        width: 385rem;
    }

    .m-credit-resource-1_container_main-content_desc {
        width: 381rem;
    }
} */

/* End Thanh Tung */

/* Code Huy */
.credit-resource-3.dp-flex.fd-col {
    width: 1920rem;
    height: 892rem;
}

.credit-resource-3_howDoIReview {
    background-color: #2c2d32;
    overflow: hidden;
    background-size: cover;
    width: 1920rem;
    height: 382rem;
}

.credit-resource-3_howDoIReview_tittle.dp-flex.fw-600 {
    font-size: 28.8rem;
    color: #fff;
    line-height: 30.4rem;
}

.credit-resource-3_howDoIReview_script.fs-16.mt-15 {
    color: #fff;
    font-weight: 500;
    line-height: 24rem;
    text-align: center;
    width: 1211rem;
    height: 48rem;
}

.credit-resource-3_howDoIReview_listButton.mt-15.fd-row.jc-centent {
    width: 1211rem;
    height: 48rem;
}

.credit-resource-3_howDoIReview_listButton_b1.orange-box {
    margin-right: 32.33rem;
}

.credit-resource-3_howDoIReview_listButton_b2.orange-box {
    margin-right: 32.17rem;
}

.credit-resource-3_howDoIReview_listButton_b3.orange-box {
    margin-right: 32.5rem;
}

.credit-resource-3_howDoIReview_listButton {
    width: 108rem;
    height: 108rem;
    top: 298rem;
    left: 335rem;
}

.credit-resource-3_creditRepair {
    height: 510rem;
    width: 1920rem;
}

.credit-resource-3_creditRepair_left {
    width: 797rem;
    height: 260rem;
    margin-right: 28rem;
}

.credit-resource-3_creditRepair_left_tittle.dp-flex.fd-column.fc-bl2 {
    height: 37rem;
}

.credit-resource-3_creditRepair_left_line.mt-15 {
    background: #84bd00;
    width: 797rem;
    height: 1rem;
}

.credit-resource-3_creditRepair_left_textScript.fd-row.mt-10 {
    width: 679.32812rem;
    height: 192rem;
}

.credit-resource-3_creditRepair_left_textScript_script1 {
    width: 374.353rem;
    height: 192rem;
    margin-right: 90rem;
}

.credit-resource-3_creditRepair_left_textScript_script1_box1 {
    width: 190.73rem;
    height: 24rem;
    border-radius: 0px 10rem;
    background: #84bd00;
}

.credit-resource-3_creditRepair_left_textScript_script1_box1_text.fw-400.fs-18.lh-24.dp-flex.jc-center {
    width: 161.055rem;
    height: 22rem;
}

.credit-resource-3_creditRepair_left_textScript_script1_contentScript {
    width: 372.353rem;
    height: 24rem;
    gap: 5rem;
}

.credit-resource-3_creditRepair_left_textScript_script2 {
    width: 248.558rem;
    height: 140rem;
}

.credit-resource-3_creditRepair_left_textScript_script2_box2 {
    width: 209.8rem;
    height: 24rem;
    border-radius: 0px 10rem;
    background: #84bd00;
}

.credit-resource-3_creditRepair_left_textScript_script2_box2_text.fw-400.fs-18.lh-24.dp-flex.jc-center {
    width: 180.14rem;
    height: 22rem;
}

.credit-resource-3_creditRepair_left_textScript_script2_contentScript {
    width: 248rem;
    height: 24rem;
    gap: 5rem;
}

.credit-resource-3_creditRepair_right.dp-flex.fd-col.jc-center {
    width: 375rem;
    height: 214rem;
    border-radius: 6rem;
    border: 1rem solid #ecebea;
    background: #fff;
    align-items: flex-start;
    gap: 10rem;
    padding: 30rem;
}

.credit-resource-3_creditRepair_right_tittle.fs-16.fw-800.lh-24 {
    color: #283e39;
}

.credit-resource-3_creditRepair_right_script.fs-14.fw-500.lh-24 {
    color: #283e39;
    font-style: normal;
    font-family: Inter;
}

.credit-resource-3_creditRepair_left_textScript_script1_contentScript_icon {
    width: 10rem;
    margin-right: 20rem;
}

.credit-resource-3_creditRepair_left_textScript_script1_contentScript.dp-flex.ai-center.mt-10.lh-24.fs-14 {
    width: 377rem;
}

.credit-resource-3_creditRepair_left_textScript_script2_contentScript.dp-flex.ai-center.mt-10 {
    width: 251rem;
}

/* end code Huy */

.m-credit-resources-4 {
    width: 1920rem;
    height: 828rem;
    background-color: #115740;
    display: flex;
    justify-content: center;
}

.m-credit-resources-4_bg_img {
    position: absolute;
    width: 350rem;
    height: 350rem;
    padding: 123rem 50rem 73rem 50rem;
    border-radius: 200rem;
    background-color: rgba(255, 255, 255, 1);
    top: -175rem;
    left: 465rem;
}

.m-credit-resources-4_img {
    width: 250rem;
    height: 154rem;
}

.m-credit-resources-4_content {
    position: relative;
    padding: 170rem 90rem 0 90rem;
}

.m-credit-resources-4_content_sidebar {
    padding-top: 40rem;
}

.m-credit-resources-4_content_sidebar_tab1 {
    width: 245.47rem;
    height: 62rem;
    border-right: 5rem solid #ffffff;
    opacity: 75%;
    color: #ffffff;
}

.m-credit-resources-4_content_sidebar_tab2 {
    width: 245.47rem;
    height: 62rem;
    border-right: 5rem solid #84BD00;
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
    background-color: #ffffff;
    color: #3F4444;
}

.m-credit-resources-4_content_sidebar_tab1 p {
    padding: 20rem 0 20rem 20rem;
    font-weight: 300;
}

.m-credit-resources-4_content_sidebar_tab2 p {
    padding: 20rem 0 20rem 20rem;
    font-weight: 700;
}

.m-credit-resources-4_content_main {
    width: 853.3rem;
    height: 658rem;
    display: grid;
    grid-template-columns: 670rem 1250rem;
    padding: 40rem;
    border-left: 1rem solid #ffffff
}

.m-credit-resources-4_content_main-container {
    width: 773.53rem;
    height: 578rem;
    display: grid;
    grid-template-columns: 378.77rem 388.76rem;
    gap: 6rem;
}

.m-credit-resources-4_content_main-container_left {
    flex: start;
}

.m-credit-resources-4_content_main-container_title {
    width: 219rem;
    height: 22rem;
    color: #84BD00;
    font-size: 18rem;
}

.m-credit-resources-4_content_main-container_right {
    flex: start;
}

