.video-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    max-width: 1915px;
    margin: 0 auto;
}

.video-3_card-collection-1{
    background-color: #304A43
}

.video-3_card-collection-2{
    background-color: #C50000
}

.video-3_card-collection-3{
    background-color: #004F5B
}

.video-3_card-collection-4{
    background-color: #84BD00
}

